<div
  class="container mt-5 p-5 rounded-3 d-flex gap-lg-5 shadow"
  style="max-width: 60rem;"
>
  <!-- INTRODUCTION -->
  <section class="d-flex flex-column justify-content-center">
    {{#if user}}
      <h1>{{data.greeting}}</h1>
      <p class="mb-3">{{data.intro}}</p>
    {{else}}
      <h1>Welcome To My Website</h1>
      <h5 class="mb-3 text-primary">Build your own personal web page by registering an account.</h6>
      <p class="mb-3">
      I am an aspiring Full-Stack Developer, currently sharpening my skills
      through an intensive coding bootcamp. I am learning to build complete web
      applications from front-end design to back-end functionality, while
      developing strong problem-solving and teamwork abilities.
    </p>
    {{/if}}

    <!-- LINK -->
    <div class="hero-actions">
      <!-- BUTTON MODAL -->
      <button
        type="button"
        class="btn btn-dark me-3"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Contact
      </button>
      <a class="text-decoration-none text-black" href="#">Download CV
        <i class="fa-solid fa-download"></i></a>

      <div class="social-media mt-3">
        <a
          class="fs-2 text-decoration-none text-black"
          href="https://www.instagram.com/rahmat_tomy"
        ><i class="fa-brands fa-instagram"></i></a>
        <a
          class="fs-2 text-decoration-none text-black"
          href="https://github.com/tosrv"
        ><i class="fa-brands fa-github"></i></a>
        <a
          class="fs-2 text-decoration-none text-black"
          href="https://www.youtube.com/@ra-tom"
        ><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </section>

  <!-- PROFILE -->
  <section>
    <div class="card shadow-sm" style="width: 18rem">
      {{#if user}}
      <img
        src="/assets/images/uploads/{{data.image}}"
        class="card-img-top"
        alt="profile"
      />
      {{else}}
      <img
        src="/assets/images/profile.jpg"
        class="card-img-top"
        alt="profile"
      />
      {{/if}}
      <div class="card-body">
        {{#if user}}
        <h3 class="card-text text-center">{{user.name}}</h3>
        <p class="card-text text-center">{{data.role}}</p>
        {{else}}
        <h3 class="card-text text-center">Rahmat Tomy</h3>
        <p class="card-text text-center">Full-Stack Developer</p>
        {{/if}}
      </div>
    </div>
  </section>
</div>

<!-- MODAL -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Contact</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h6 class="mb-0">Email</h6>
        {{#if user}}
          <p>{{user.email}}</p>
        {{else}}
          <p>rahmattomyapriliyanto@mail.com</p>
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#if user}}
          <a href="mailto:{{user.email}}" type="button" class="btn btn-dark">
          <i class="fa-solid fa-paper-plane"></i>
        </a>
        {{else}}
        <a href="mailto:rahmattomyapriliyanto@mail.com" type="button" class="btn btn-dark">
          <i class="fa-solid fa-paper-plane"></i>
        </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>