<div class="d-flex flex-column">
  <section>
    <div
      class="container p-5 gap-5 rounded-4 shadow-lg bgradient"
      style="width: 30rem;"
    >
      <h1 class="text-center mb-3">{{subtitle}} MY PROJECT</h1>

      <!-- FORM INPUT PROJECT -->
      <form action="{{action}}" method="post">
        <div class="mb-3">
          <label for="nameInput" class="form-label"><b>Project Name</b></label>
          <input
            type="text"
            class="form-control"
            id="nameInput"
            name="name"
            value="{{edit.name}}"
            required
          />
        </div>
        <div class="row mb-3">
          <section class="col">
            <label for="startDate" class="form-label"><b>Start Date</b></label>
            <input
              type="date"
              class="form-control"
              id="startDate"
              name="start"
              value="{{edit.start}}"
              required
            />
          </section>
          <section class="col">
            <label for="endDate" class="form-label"><b>End Date</b></label>
            <input
              type="date"
              class="form-control"
              id="endDate"
              name="end"
              value="{{edit.end}}"
              required
            />
          </section>
        </div>
                <div class="mb-3">
          <label for="desc" class="form-label"><b>Description</b></label>
          <textarea
            class="form-control"
            id="desc"
            rows="3"
            style="resize: none;"
            name="desc"
            required
          >{{edit.description}}</textarea>
        </div>
        <div class="row mb-3">
          <label for="tech" class="form-label"><b>Technologies</b></label>
          <section class="col">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="nodeJS"
                name="tech[]"
                value="1"
                {{#if tech.node}}checked{{/if}}
              />
              <label for="nodeJS" class="form-check-label"><b>Node JS</b></label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="reactJS"
                name="tech[]"
                value="2"
                {{#if tech.react}}checked{{/if}}
              />
              <label for="reactJS" class="form-check-label"><b>React JS</b></label>
            </div>
          </section>
          <section class="col">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="nextJS"
                name="tech[]"
                value="3"
                {{#if tech.next}}checked{{/if}}
              />
              <label for="nextJS" class="form-check-label"><b>Next JS</b></label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="typescript"
                name="tech[]"
                value="4"
                {{#if tech.typescript}}checked{{/if}}
              />
              <label for="typescript" class="form-check-label"><b
                >TypeScript</b></label>
            </div>
          </section>
        </div>
        <div class="mb-3">
          <label class="form-label mb-2" for="image">
            <b>Upload Image</b>
          </label>
          <div class="input-group">
            <input
              type="file"
              id="projectImage"
              name="image"
              class="form-control"
              aria-label="Upload"
            />
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <a href="/project" class="btn btn-dark me-3" {{#if hide}}hidden{{/if}}>Cancel</a>
          <button type="submit" class="btn btn-dark">{{btn}}</button>
        </div>
      </form>
    </div>
  </section>
  <section class="container-fluid shadow-lg" style="margin-top: 10rem;">
    <h1 class="text-center m-5">MY PROJECT</h1>
    <div class="d-flex justify-content-center mb-5">
      <div class="row row-cols-1 row-cols-md-3 g-5" style="width: 55rem;">

        <!-- RENDER CARD -->
        {{#each card}}
          <div class="col">
            <div
              class="card h-100 bgradient shadow-lg d-flex justify-content-end"
            >
              <img src="/assets/images/frontend.png" class="card-img-top" />
              <div class="card-body d-flex flex-column justify-content-end">
                <a
                  href="/detail/{{this.id}}"
                  class="card-title fs-4 text-truncate text-decoration-none project-title"
                >{{this.name}}</a>
                <p
                  class="card-text black text-truncate"
                >{{this.description}}</p>
                <div class="d-flex justify-content-around">
                  <div>
                    <a
                      href="/project/{{this.id}}/edit"
                      class="btn btn-dark"
                    >Edit</a>
                  </div>
                  <form
                    action="/project/{{this.id}}/del"
                    method="post"
                    class="m-0 p-0"
                    onsubmit="return confirm('Are you sure want to delete {{this.name}}?')"
                  >
                    <button class="btn btn-dark" type="submit">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </section>
</div>